      body {
            margin: 0;
            font-family: 'Bebas Neue', sans-serif;
        }
        header {
            background-color: #d60000; /* Vermelho Flamengo */
            color: white;
            padding: 15px;
            text-align: center;
        }
        header nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-size: 20px;
        }
        header nav a:hover {
            text-decoration: underline;
        }